DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

DB_NAME=your_db_name
DB_ROOT_PASSWORD=your_root_password

DB_LOCAL_PORT=your_db_local_port
DB_DOCKER_PORT=your_db_docker_port

SPRING_LOCAL_PORT=your_spring_local_port
SPRING_DOCKER_PORT=your_spring_docker_port
DEBUG_PORT=your_debug_port

JWT_EXPIRATION=expirationInMilliseconds
JWT_SECRET=enterYourJwtSecretStringInsteadOfThis

TELEGRAM_BOT_USERNAME=bot_username_created_by_fatherbot
TELEGRAM_BOT_TOKEN=bot_secret_token_created_by_fatherbot

STRIPE_SECRET_KEY=your_unique_stripe_secret_key
STRIPE_SUCCESS_URL=path_to_your_success_stripe_redirect
STRIPE_CANCEL_URL=path_to_your_cancel_stripe_redirect
